@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #5C6BC0;
    --secondaryColor: #FF8A65;
    --bgColor: #F5F5F5;
    --textColor: #333333;
    --accentColor: #FFD54F;
    --borderColor: #AAAAAA;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background: var(--bgColor);
    color: var(--textColor);
    height: 100vh;
}

h1{
    color: var(--primaryColor);
}

.btn-main{
    color: var(--bgColor);
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    font-size: 1.4rem;
}

.btn-main:hover {
    color: var(--bgColor);
}

.form-label{
    font-size: 1.3rem;
}

.form-control{
    border-color: var(--borderColor);
}

.main-box{
    border: 2px solid var(--borderColor);
    height: 40rem;
    max-width: 40rem;
}

.main-box{
    background: var(--primaryColor);
    position: relative;
}

.tl, .tr, .bl, .br{
    position: absolute;
    font-size: 1.1rem;
}

.tl{
    left: -5rem;
}

.tr{
    right: -6rem;
}

.bl{
    left: -7rem;
    bottom: 0;
}

.br{
    right: -8rem;
    bottom: 0;
}

.code-area{
    border: 1px solid var(--borderColor);
    border-radius: 0.25rem;
    padding: 2rem;
    margin-top: 2rem;
}

small{
    color: red;
    font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .main-box{
        height: 30rem;
        max-width: 30rem;
        margin: auto;
    }
    .btnReset{
        text-align: center;
    }
    .code-area{
        margin-top: 0;
        margin: auto;
    }
}